.color {
  background-color: yellow;
}



.header {
  width: 1420px;
  height: 360px;
  border: solid black 3px;
}


.div1 {
  width: 698px;
  height: 698px;
  border: solid black 4px;
  margin: 3px 3px;
}

.div2 {
  width: 698px;
  height: 698px;
  border: solid black 4px;
  margin: 3px 3px;
}

.div3 {
  width: 698px;
  height: 698px;
  border: solid black 4px;
  margin: 3px 3px;
}

.div4 {
  width: 698px;
  height: 698px;
  border: solid black 4px;
  margin: 3px 3px;
}

.div5 {
  width: 698px;
  height: 698px;
  border: solid black 4px;
  margin: 3px 3px;
}

.div6 {
  width: 698px;
  height: 698px;
  border: solid black 4px;
  margin: 3px 3px;
}



.div7 {
  width: 698px;
  height: 698px;
  border: solid black 4px;
  margin: 3px 3px;
}

.div8 {
  width: 698px;
  height: 698px;
  border: solid black 4px;
  margin: 3px 3px;
}







/* CSS */
.singin {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.singin:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.singin:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .singin {
    padding: 13px 50px 13px;
  }
}










.code {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.code:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.code:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .code {
    padding: 13px 50px 13px;
  }
}













.Photo {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Photo:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.Photo:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .Photo {
    padding: 13px 50px 13px;
  }
}











.Instagram {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Instagram:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.Instagram:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .Instagram {
    padding: 13px 50px 13px;
  }
}









.Shop {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Shop:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.Shop:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .Shop {
    padding: 13px 50px 13px;
  }
}









.Telegram {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Telegram:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.Telegram:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .Telegram {
    padding: 13px 50px 13px;
  }
}








.aboutus {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.aboutus:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.aboutus:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .aboutus {
    padding: 13px 50px 13px;
  }
}






.Help {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Help:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.Help:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .Help {
    padding: 13px 50px 13px;
  }
}